@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 모바일 */
.mvisual-img{
    display: none;
}


body{
    letter-spacing: -0.3px;
    font-family: 'Pretendard-Regular', 'Playfair Display', sans-serif; 
}

.main-visual-wrap{
    position: relative;
    margin-top: 83px;
    margin-bottom: 104px;
}
.visual-img > img{
    border-radius: 20px;
    max-width: 100%;
}
.visual-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    text-align: center;
}
.visual-text-box > p{
    font-size: 80px;
    font-family: "Playfair Display", serif;
    letter-spacing: -1px;
}
.major-business-tit-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 104px;
    margin-bottom: 58px;
}
.major-business-tit-box > img{
    margin-right: 20px;
}
.major-business-tit-box > p{
    font-size: 36px;
    letter-spacing: -1px;
    text-transform: uppercase;
}
.current-date-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 42px;
}
.current-date-wrap > input:first-child{
    margin-right: 26px;
}
.current-img-box{
    text-align: center;
    margin-bottom: 588px;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}
input[type='date']::before {
    content: attr(data-placeholder);
    width: 100%;
    position: absolute;
  }
input[type='date'] {
    position: relative;
    width: 485px;
    background: url('../img/arr-date.png') no-repeat right 10px center;
    height: 45px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-family: "Pretendard-Regular", serif;
    cursor: pointer;
  }
    input[type=date]::-webkit-datetime-edit-text {
        -webkit-appearance: none;
        display: none;
    }   
    input[type=date]::-webkit-datetime-edit-month-field{
        -webkit-appearance: none;
        display: none;
    }
    input[type=date]::-webkit-datetime-edit-day-field {
        -webkit-appearance: none;
        display: none;
    }
    input[type=date]::-webkit-datetime-edit-year-field {
        -webkit-appearance: none;
        display: none;
    }


    /* 모바일 */
@media screen and (min-width:340px) and (max-width:400px){
    header > .container-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 6px 23px;
    }
    .visual-img{
        display: none;
    }
    .mvisual-img{
        display: block;
    }
    .visual-text-box > p{
        font-size: 40px;
    }
    .current-img-box{
        margin-bottom: 200px;
    }
    .current-img-box > img{
        width: 356px;
    }
    .main-visual-wrap{
        margin: 0;
    }
    .major-business-tit-box{
        margin-top: 60px;
    }
    .major-business-tit-box > p{
        font-size: 30px;
    }
    .current-date-wrap{
        flex-direction: column;
    }
    input[type='date'] {
        width: 346px;
        font-size: 16px;
        margin: 0 auto !important; 
    }
    .current-date-wrap > input:first-child{
        margin-bottom: 10px !important;
    }
}