@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 모바일 */
.mvisual-img,
.target-mtit,
.business-mcon{
    display: none;
}

body{
    letter-spacing: -0.3px;
    font-family: 'Pretendard-Regular';
    font-family: 'Pretendard-Regular', 'Playfair Display', sans-serif; 
}

.main-visual-wrap{
    position: relative;
    margin-top: 83px;
}
.visual-img > img{
    border-radius: 20px;
    max-width: 100%;
}
.visual-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    text-align: center;
}
.visual-text-box > p{
    font-size: 80px;
    font-family: "Playfair Display", serif;
    letter-spacing: -1px;
}
.target-tit-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 104px;
    margin-bottom: 58px;
}
.target-tit-box > img{
    margin-right: 20px;
}
.target-tit-box > p{
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1px;
}
.target-wrap > p{
    text-align: center;
    font-size: 26px;
    text-decoration: underline;
    margin-bottom: 62px;
}
.target-con{
    text-align: center;
}
.target-txt-box{
    background: #e5d5c7;
    padding: 40px 26px 40px 30px;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: -1px;
    color: #444444;
    margin-bottom: 150px;
}
.business-wrap > p{
    text-align: center;
    font-size: 26px;
    text-decoration: underline;
    line-height: 1.6;
    margin-bottom: 68px;
}
.business-wrap > img{
    margin-bottom: 273px;
}


@media screen and (min-width:340px) and (max-width:400px){
    header > .container-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 6px 23px;
    }
    .visual-img{
        display: none;
    }
    .mvisual-img{
        display: block;
    }
    .visual-text-box > p{
        font-size: 40px;
    }
    .main-visual-wrap{
        margin-top: 0;
    }
    .target-wrap > p{
        display: none;
    }
    .target-tit-box{
        margin-top: 80px;
    }
    .target-tit-box > p{
        font-size: 30px;
    }
    .target-mtit{
        display: block;
        text-align: center;
        font-size: 18px;
        text-decoration: underline;
        margin-bottom: 62px;
        line-height: 1.6;
        letter-spacing: -1px;
    }
    .target-con > img,
    .business-wrap > img{
        width: 356px;
    }
    .target-txt-box{
        padding: 20px 10px 20px;
        margin-bottom: 80px;
    }
    .target-txt-box > p{
        font-size: 10px;
        text-align: left;
    }
    .business-con{
        display: none;
    }
    .business-mcon{
        display: block;
        text-align: center;
        font-size: 18px !important;
        text-decoration: underline;
        margin-bottom: 62px;
        line-height: 1.6;
        letter-spacing: -1px;
        margin: 0 22px;
    }
}